
/* shared styles */
*{
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    border: 0;
}

header{
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

/* nav related styles */

.nav-title{
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav > ul{
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
}

nav li a{
    text-decoration: none;
}

/* banner related styles */

.banner-content{
    max-width: 850px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    color:  #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner-description{
    color: #727272;
    font-weight: 400;
    margin-bottom: 50px;

}

.banner img{
    width: 100%;
}
/* main related styles */

main{
    max-width: 1440px;
    margin: 80px auto;
}
.team-container{
    display: flex;
    align-items: center;
  
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-left: 100px;
}
.team-content{
    padding-left: 70px;
    padding-right: 70px;
}
.quick-list{
    color: #727272;
    font-weight: 500;

}
.team-title{
    font-size: 2.8rem;
}
.text-feature{
    color: #FF900E;

}
.team-description{
    color: #727272;
    margin-bottom: 50px ;
}






/* Responsive Media Queries */
/* for mobile devices */
@media screen and (max-width:576px) {
   header{
    padding: 30px;
   }
   nav , .team-container {
    flex-direction: column;
   }
   .team-content{
    padding-left: 20px;
    padding-right: 20px;
   }
   .team-img-container{
    grid-template-columns:1fr;
    margin: 5px;
  
}

}

/* for medium devices */
@media screen and (min-width:576px) and (max-width:920px) {
    header{ padding: 50px;}

    nav , .team-container{
        flex-direction: column;
    }
    .team-content{
        margin: 20px;
    }
    .team-img-container{
        margin: 20px;
    }

    
}

